import { Box } from '@chakra-ui/react'

export type {{pascalCase component_name}}Props = {
  name: string;
}

export const {{pascalCase component_name}} = ({ name }: {{pascalCase component_name}}Props) => {
  return (
    <Box>
      <p>{name}</p>
    </Box>
  )
}
